In [ ]:
#question 1
name = input("Enter Name : ")
print("Title Case:", name.title())
print("First Character:",name[0])
print("Last Character :",name[-1])
print("Reverse Name:",name[::-1])
print("Number Of 'a' Character: ",name.lower().count('a'))
print("Without Spaces:",name.replace(" ",""))

Enter Name : Nusrat Jahan Mim
Title Case: Nusrat Jahan Mim
First Character: N
Last Character : m
Reverse Name: miM nahaJ tarsuN
Number Of 'a' Character:  3
Without Spaces: NusratJahanMim

In [ ]:
#question No 2
s = "Learning Python Is Fun"
print("Lower Case :",s.lower())
print("Replace Fun : ",s.replace("Fun","Awsome"))
print("3rd to 10th Character:",s[2:10])
print("End with 'Fun'?",s.endswith("Fun"))
print("List of words:",s.split())

Lower Case : learning python is fun
Replace Fun :  Learning Python Is Awsome
3rd to 10th Character: arning P
End with 'Fun'? True
List of words: ['Learning', 'Python', 'Is', 'Fun']

In [ ]:
# Question no : 3

# 5 + 3 * 4
# According to order of operations multiplication first:
# 3*4 = 12, then 5+12 = 17
print("5 + 3 * 4 =", 5 + 3 * 4)

# (5 + 3) * 4
# Parentheses first: 5+3=8, then multiply by 4: 8*4=32
print("(5 + 3) * 4 =", (5 + 3) * 4)

# 100 / 6 and 100 // 6
# 100 / 6 => normal division (float result) => 16.666666...
# 100 // 6 => floor division (integer result) => 16
print("100 / 6 =", 100 / 6)
print("100 // 6 =", 100 // 6)

# 2 ** 5 * 3
# Exponentiation first: 2**5 = 32, then multiply by 3: 32*3=96
print("2 ** 5 * 3 =", 2 ** 5 * 3)

5 + 3 * 4 = 17
(5 + 3) * 4 = 32
100 / 6 = 16.666666666666668
100 // 6 = 16
2 ** 5 * 3 = 96

In [1]:
#Question No :4
# Q4: Using math module
import math

# √225
print("Root of 225 : ",math.sqrt(225))

# sin(90°) => radians needed: 90° = π/2
print("sin(90°):", math.sin(math.radians(90)))

# 8³ (cube of 8)
print("8^3:", math.pow(8, 3))

# Value of π rounded to 4 decimals
print("π rounded to 4 decimals:", round(math.pi, 4))

Square root of 225: 15.0
sin(90°): 1.0
8^3: 512.0
π rounded to 4 decimals: 3.1416

In [9]:
# Q5: Check number type

# take input from user
num = float(input("Enter any number: "))

# check Positive, Negative, or Zero
if num > 0:
    print("The number is Positive")
elif num < 0:
    print("The number is Negative")
else:
    print("The number is Zero")

# Even or Odd works only for integers
# So first check if the number is integer
if num.is_integer():
    num = int(num)  # convert to int
    if num % 2 == 0:
        print("The number is Even")
    else:
        print("The number is Odd")
else:
    print("Even/Odd check works only for whole numbers.")

Enter any number: 4
The number is Positive
The number is Even

In [11]:
#Question No :6

# Q6: Marks calculation with conditions

# taking input
m1 = float(input("Enter mark for Matrh: "))
m2 = float(input("Enter mark for English: "))
m3 = float(input("Enter mark for Bangla: "))

# total
total = m1 + m2 + m3
print("Total Marks =", total)

# average
avg = total / 3
print("Average Marks =", avg)

# Pass / Fail (all marks must be ≥ 40)
if m1 >= 40 and m2 >= 40 and m3 >= 40:
    print("Result: Pass")
else:
    print("Result: Fail")

# Distinction / Normal Pass (based on average)
if avg >= 75:
    print("Grade: Distinction")
else:
    print("Grade: Normal Pass")

Enter mark for Matrh: 83
Enter mark for English: 72
Enter mark for Bangla: 55
Total Marks = 210.0
Average Marks = 70.0
Result: Pass
Grade: Normal Pass

In [12]:
#Question No : 7


for i in range(1, 51):
    if i == 37:
        break          # stop the loop completely

    if i % 4 == 0:
        continue       # skip numbers divisible by 4

    print(i)

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19
21
22
23
25
26
27
29
30
31
33
34
35

In [13]:
#Question No : 8
# Multiplication table from 1 to 12

num = int(input("Enter a number: "))

print(f"Multiplication Table of {num}:")

for i in range(1, 12 + 1):
    print(f"{num} x {i} = {num * i}")

Enter a number: 6
Multiplication Table of 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72

In [14]:
#Question No : 9

# Q9: Print number pattern using nested loops

for i in range(1, 6):          # Outer loop for rows (1 to 5)
    for j in range(1, i + 1):  # Inner loop for printing numbers
        print(j, end="")
    print()                    # Move to next line

1
12
123
1234
12345

In [15]:
# Q10: List Methods

nums = [12, 4, 8, 1, 9, 3, 4, 4]

# 1. Sort the list
nums.sort()
print("Sorted list:", nums)

# 2. Insert 100 at index 2
nums.insert(2, 100)
print("After inserting 100 at index 2:", nums)

# 3. Remove the value 1
nums.remove(1)
print("After removing 1:", nums)

# 4. Find and print max and min values
print("Max value:", max(nums))
print("Min value:", min(nums))

# 5. Reverse the list
nums.reverse()
print("Reversed list:", nums)

# 6. Count how many times 4 appears
print("Count of 4:", nums.count(4))

Sorted list: [1, 3, 4, 4, 4, 8, 9, 12]
After inserting 100 at index 2: [1, 3, 100, 4, 4, 4, 8, 9, 12]
After removing 1: [3, 100, 4, 4, 4, 8, 9, 12]
Max value: 100
Min value: 3
Reversed list: [12, 9, 8, 4, 4, 4, 100, 3]
Count of 4: 3

In [16]:
# Q11: List Processing

# Create a list of 10 integers
nums = [5, 12, 25, 7, 30, 3, 18, 42, 9, 27]

# 1. Print the list
print("Original list:", nums)

# 2. Print only the odd numbers
print("Odd numbers:")
for n in nums:
    if n % 2 != 0:
        print(n, end=" ")
print()

# 3. Print numbers greater than 20
print("Numbers greater than 20:")
for n in nums:
    if n > 20:
        print(n, end=" ")
print()

# 4. Replace all numbers less than 10 with 0
for i in range(len(nums)):
    if nums[i] < 10:
        nums[i] = 0

print("List after replacing values < 10 with 0:", nums)

Original list: [5, 12, 25, 7, 30, 3, 18, 42, 9, 27]
Odd numbers:
5 25 7 3 9 27
Numbers greater than 20:
25 30 42 27
List after replacing values < 10 with 0: [0, 12, 25, 0, 30, 0, 18, 42, 0, 27]

In [17]:
# Q12: List Comprehension

nums = [n for n in range(1, 101) if n % 3 == 0 and n % 5 != 0]

print(nums)

[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]